.warpper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #fafafa;
}

.height-chart{
    width: 100vw;
    height: 40vh;
}

.flex-spacer{
    flex-grow: 1;
  }

.bar-chart {
    background-color: #3F51B5;

    .toolbar {
        text-align: right;
        color: #fff;
        padding: 0 16px;
    }
}

 .mat-dialog-content {
    mat-form-field {
        width: 100% !important;
    }
 }

 .flex-spacer{
    flex-grow: 1;
 }