<header class="docs-header-background">
  <div class="docs-header-section">
    <div class="docs-header-headline">
      <h1 class="mat-h1">Ampelite</h1>
      <h2> Makes light work!</h2>
    </div>
    <div class="docs-header-start">
        <a mat-raised-button class="docs-button" routerLink="/components/categories">Get started</a>
        <!-- *ngFor="let key of sectionKeys" [routerLink]="key" -->
        <!-- <a mat-raised-button class="docs-button" routerLink="/component">Get started</a> -->
    </div>
  </div>
</header>