.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;

  .mat-header-cell, .mat-cell{
    min-width: 150px;
  }

  .mat-column-CustName, .mat-column-GoodName, .mat-column-EmpName {
    min-width: 280px;
  }
}

.mat-toolbar {
  font-weight: normal;
  // font-size: 18px;
  .example-spacer {
    flex: 1 1 auto;
  }

  .total{
    text-align: right;
    .total-amount, .total-qty {
      display: block;
    }

    .total-qty {
      font-style: italic;
    }    
  }
  
}

cite::before {
  content: "\2014 \00A0";
}
cite {
  font-size: 65%;
}

