<div mat-dialog-content>
  <mat-radio-group class="example-radio-group" [(ngModel)]="data.selectedRadio">
    <mat-radio-button class="example-radio-button" *ngFor="let radio of data.radioGroup" [value]="radio.value">
      {{radio.text}}</mat-radio-button>
  </mat-radio-group>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions>
  <button mat-raised-button class="green-800" (click)="exportPdf()" cdkFocusInitial>
      <i class="material-icons">file_download</i>
    PDF
  </button>
  <!-- <div class="flex-spacer"></div> -->
  <button mat-raised-button class="red-500" (click)="exportExcel()" cdkFocusInitial>
      <i class="material-icons">file_download</i>
    Excel
  </button>
  <!-- <button mat-raised-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button> -->
</div>