.mat-dialog-content {
    overflow: hidden;
    margin-bottom: 24px;
}
.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}

.green-800{
  color: #F44336 !important;
}

.red-500{
  color: #2E7D32 !important;
}